<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iodine.apocmobile">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".main.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApocMobile">
        <activity
            android:name=".activities.location.EditLocationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.location.DisplayLocationsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.location.BaseLocationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.location.CreateLocationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.world.EditWorldActivity"
            android:exported="false" />
        <activity
            android:name=".activities.world.DisplayWorldsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.world.CreateWorldActivity"
            android:exported="true" />
        <activity
            android:name=".activities.world.BaseWorldActivity"
            android:exported="true" />
        <activity
            android:name=".activities.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>